.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1400px;
  h1{
    text-align: center;
  }
  margin: auto;
  .flex{
    display: flex;
    flex-wrap: wrap;
    li{
      width: 33%;
      list-style: none;
    }
  }
}